.breadCrumbsItem {

  &__link {
    font-weight: 400;
    color: var(--black);
    opacity: 0.5;
    font-size: clamp(14px, 0.8vw, 16px);
    line-height: clamp(14px, 1vw, 16px);
  }

  &:not(:last-child) {
    &::after {
      content: '/';
      color: var(--black);
      opacity: 0.5;
      font-size: clamp(14px, 0.8vw, 16px);
      line-height: clamp(14px, 1vw, 16px);
      margin: 0 4px;
    }
  }

  &__active {
    opacity: 1;
    pointer-events: none;
  }

}
