.rasursPromo {
  position: relative;
  height: clamp(650px, 122vw, 2366px);
  background-image: url("../../../../public/images/first-display/hero-house-main.webp");
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: 1030px) {
    background-image: url("../../../../public/images/first-display/hero-house-main-1024.webp");
  }

  .containerRasursPromo {
    position: relative;
    height: 100%;
    padding-top: 96px;

    @media (max-width: 720px) {
      display: flex;
      flex-direction: column;
      padding-bottom: clamp(20px, 5vw, 40px);
    }
  }

  &__center {
    display: none;
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    max-width: clamp(280px, 33vw, 630px);
    font-family: var(--main-font);
    font-weight: 400;
    font-size: clamp(28px, 3.6vw, 72px);
    line-height: clamp(26px, 3.6vw, 64px);

    @media (max-width: 720px) {
      position: relative;
      top: auto;
      left: auto;
      transform: none;
      margin-top: 40px;
      max-width: 100%;
    }
  }

  div.rasursPromo__sliderContainer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;

    @media (max-width: 720px) {
      position: relative;
      top: auto;
      transform: none;
      right: auto;
      margin-top: auto;
      width: clamp(277px, 88vw, 393px);
      aspect-ratio: 345 / 116;
    }
  }

  a.linkSlider {
    @media (max-width: 720px) {
      background-image: url("../../../assets/images/first-display/rectangle-white.svg") !important;
    }
  }

  .rasursPromo__desc,
  .rasursPromo__discount {
    @media (max-width: 720px) {
      color: var(--grey-light);
    }
  }

  :global(.swiper-pagination) {
    :global(.swiper-pagination-bullet) {
      @media (max-width: 720px) {
        border: solid 1px var(--white);
      }
    }

    :global(.swiper-pagination-bullet.swiper-pagination-bullet-active) {
      @media (max-width: 720px) {
        background-color: var(--white) !important;
      }
    }
  }
}
